.container {
    width: 100%;
    max-width: 1200px; /* Ancho máximo opcional */
    margin: 0 auto; /* Centrar horizontalmente */
    padding: 0px; /* Espaciado interno del contenedor */
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #ff3e4e !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-brand {
    font-weight: bold;
    font-size: 24px;
    color: #ffffff !important;
}

.navbar-icon {
    height: 40px;
    margin-right: 10px;
    margin-left: 0;
}

.atm-header a {
    text-decoration: none; /* Quitar subrayado del enlace */
    color: #ffffff; /* Color del texto en blanco */
    font-size: 24px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
    display: flex; /* Usar flexbox para alinear imagen y texto */
    align-items: left; /* Centrar verticalmente */
    justify-content: left; /* Centrar horizontalmente */
}



.atm-header a:hover {
    color: white; /* Cambiar color al pasar el mouse */
    text-decoration: underline; /* Subrayar al pasar el mouse */
}

body {
    font-family: Arial, sans-serif;
    margin: 0; /* Eliminar márgenes */
    padding: 0; /* Eliminar relleno */
    background-color: #f0f0f0; /* Color de fondo del body */
    font-family: 'Arial', sans-serif;
}

.menu-list {
    list-style-type: none;
    padding: 30;
}

.menu-list li {
    margin: 30px 0;
}

.menu-button {
    display: block;
    text-decoration: none;
    background-color: #ff3e4e; /*para los botones */
    color: white;
    padding: 30px; /* Reducido espaciado interno del botón */
    border-radius: 8px; /* Reducido radio de borde para un botón más pequeño */
    text-align: center;
    font-size: 1.5em; /* Tamaño de fuente reducido para los botones */
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu-button:hover {
    background-color: #ff3e4e; /* Amarillo más oscuro al pasar el cursor */
    transform: scale(1.03); /* Efecto de aumento al pasar el cursor reducido */
}

.login-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    color: #333;
}

.welcome-message {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

.username {
    font-weight: bold;
}

.recharge-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .recharge-btn:hover {
    background-color: #45a049;
  }
  
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para la ventana emergente */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: calc(100% - 40px); /* Limitar el ancho de la ventana emergente con margen lateral */
}

.btn-submit:focus + .popup,
.btn-submit:active + .popup {
    display: block;
}

.expiration-cvv {
    display: flex;
    justify-content: space-between;
}

.expiration,
.cvv {
    display: flex;
    flex-direction: column;
}

.expiration input,
.cvv input {
    width: 80px;
}


.checkmark {
    font-size: 50px;
    color: green;
    margin-top: 20px;
  }

  #confirmPayment {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #confirmPayment:hover {
    background-color: #45a049;
  }

  #paymentSuccessPopup.show {
    display: flex !important;
  }
  
  
.close-btn {
    background-color: #ff3e4e; /* mismo que el header para el botón de cerrar */
    color: white;
    float: right;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Mostrar la ventana emergente cuando se hace clic en el enlace */
.popup-overlay:target {
    display: flex;
}

.confirm-btn {
    background-color: #4CAF50; /* Cambia color deseado */
    color: white; /* Cambia a tu color de letra deseado */
    padding: 10px 20px; /* Espaciado interno */
    text-decoration: none; /* Sin subrayado */
    border-radius: 5px; /* Bordes redondeados */
    display: inline-block; /* Para que el padding funcione correctamente */
}

.confirm-btn:hover {
    background-color: #45a049; /* Color al pasar el mouse */
}

#depositarPopup .confirm-btn:hover ~ #mensajeExito {
    display: flex;
}

.send-btn {
    background-color: green; /* Color de fondo verde */
    color: white; /* Color de texto blanco */
    padding: 10px 20px; /* Espaciado interno */
    text-decoration: none; /* Sin subrayado */
    border-radius: 5px; /* Bordes redondeados */
    display: inline-block; /* Para que el padding funcione correctamente */
}   
    
.send-btn:hover {
    background-color: darkgreen; /* Color más oscuro al pasar el mouse */
    }
    
